// @import "~govuk_template_jinja/assets/stylesheets/fonts";
$blue : #005ea5;
$indigo : #6610f2;
$purple : #2e358b;
;
$pink : pink;
$red : #b10e1e;
$orange : orange;
$yellow : yellow;
$green : #006435;
$teal : #20c997;
$cyan : #17a2b8;

$warning: $orange;
$enable-rounded : false;
$enable-shadows : false;

$font-size-base: 1rem * 1.1875;

$input-focus-border-color: $orange;
$input-btn-focus-color : $orange;
$input-btn-focus-box-shadow : $orange;
$border-radius : 0;
$border-radius-lg : 0;
$border-radius-sm : 0;
$alert-border-level: 0;

$container-max-widths: ( sm: 640px,
md: 820px,
lg: 960px,
xl: 1140px) !default;


@import '~bootstrap/scss/bootstrap.scss';




@each $color,
$value in $theme-colors {
    .btn-#{$color} {

        background- &:focus {
            box-shadow: 0 0 0 0.2rem orange;
        }
    }
}

@import "multiple-choice";
.alert {
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 0 none transparent;
    border-left-width: 5px;
    border-left-style: solid;
    background: none;
}

.btn-govuk {
    background: $green;
    border-bottom: solid black 4px;

}

.card-header {
    &.black {
        background: black;
        color: white;
    }
}

.breadcrumb {
    background: none;
}

.info {
    display: flex;
    flex-wrap: wrap;
    
    .ad-breadcrumb {
        border-bottom: #F1F1F1 solid 1px;
        border-top: #F1F1F1 solid 1px;
        list-style: none;
        font-size: 16px;
        padding-left: 0;
        margin-bottom: 5px;
        display: inline-flex;
        flex-wrap: nowrap;
        
        width: 100%;

        li {
            float: left;
            margin-right: 5px;
            &:after {

                content: ' / ';

            }
            &:last-child {
                width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:after {
                    content: '';

                }
            }

        }
    }
    .contact {
        width: 100%;
        margin: 3px 0;
    }
}

@media only screen and (min-width: 415px) {
    .info {
        .contact {
            font-size: 16px;
        }
    }

}
@media only screen and (min-width: 567px) {
    .info {
        .ad-breadcrumb {
            li:last-child {
                width: auto;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

}
@media only screen and (min-width: 1000px) {
    .info {
        .ad-breadcrumb {
            font-size: 16px;
            li:last-child {
                width: auto;
             
            }
        }
         .contact {
        font-size: 16px;
    }
    }

}
@media only screen and (min-width: 1200px) {
    .info {
        .ad-breadcrumb {
            font-size: 18px;
            li:last-child {
                width: auto;
             
            }
        }
         .contact {
        font-size: 18px;
    }
}
}
@media only screen and (min-width: 805px) and (max-width:1000px) {
    .info {    
        .ad-breadcrumb {
            width: auto;
            flex-grow: 2;
           
            li:last-child{
                width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    
    }   
}

@media only screen and (min-width: 805px) {
    .info {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        border-bottom: lightgrey solid 1px;
        margin-bottom: 15px;
        
        .ad-breadcrumb {
            width: auto;
             border-bottom: none;
        border-top: none;
        }
        .contact {
            width: auto;
            font-size: 16px;
        }
    }

}

.component-fade-enter-active,
.component-fade-leave-active {
    transition: opacity .3s ease;

}

.component-fade-enter,
.component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */

    {
    opacity: 0;

}

.tab-pane {
    border-left: solid 1px #dee2e6;
    border-right: solid 1px #dee2e6;
    padding: 15px;
}

.nav-item {
    border: 1px solid #dee2e6;
}

.ad-modal-body {
    padding: 15px;
}

.modal-body {
    padding: 0;
}

#mfooter {
    padding: 30px;
    position: relative;
    background: hsl(210, 9%, 96%);
    display: flex;
    justify-content: space-between;
&.doingStuff {
        opacity: .3;
    }
}

.modal-header {
    border-bottom: none;
}

.modal.show modal-dialog {
    box-shadow: 0 17px 17px rgba(0, 0, 0, .15), 0 27px 55px rgba(0, 0, 0, .3) !important;
}

.contact {
    font-size: 12px;
}

@media only screen and (min-width: 600px) {
    .contact {

        font-size: 20px;
    }
}
.verte {
  position: relative;
  display: flex;
  justify-content: center;
}
.verte * {
    box-sizing: border-box;
}
.verte--loading {
    opacity: 0;
}
.verte__guide {
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    background: transparent;
}
.verte__guide:focus {
      outline: 0;
}
.verte__guide svg {
      width: 100%;
      height: 100%;
      fill: inherit;
}
.verte__menu {
    position: absolute;
    top: 50px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 40px;
    width: 320px;
    border-radius: 0;
    background-color: #fff;
    will-change: transform;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1);
}
.verte__menu--active {
      display: flex;
    z-index: 9;
    border: solid 1px black;
}
.verte__menu--static {
      position: static;
}
.verte__menu:focus {
      outline: none;
}
.verte__recent {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.verte__recent-color {
      margin: 4px;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: #000;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.verte__value {
    padding: 0.6em;
    width: 100%;
    border: 2px solid #000;
    border-radius: 0 0 0 0;
    text-align: center;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.verte__value:focus {
      outline: none;
      border-color: #1a3aff;
}
.verte__icon {
    width: 22.5px;
    height: 18.5px;
    fill: #fff;
}
.verte__input {
    display: flex;
    margin-bottom: 10px;
}
.verte__submit {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em 0.75em;
    outline-width: 2px;
    outline-offset: 1px;
    border-width: 2px;
    border-style: solid;
    border-radius: 0 0 0 0;
    background-clip: border-box;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #000;
    border-color: #000;
}
.verte__submit:hover {
      fill: #1a3aff;
}

/*# sourceMappingURL=Verte.vue.map */
.verte-picker {
  width: 100%;
  margin: 0 auto 10px;
}
.verte-picker__origin {
    user-select: none;
    position: relative;
    margin: 0 auto;
}
.verte-picker__canvas--wheel {
    margin-bottom: 10px;
}
.verte-picker__strip {
    margin: 0 5px;
}
.verte-picker__cursor {
    position: absolute;
    top: 0;
    left: 0;
    margin: -6px;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    will-change: transform;
    pointer-events: none;
    background-color: transparent;
}
.verte-picker__input {
    display: flex;
    margin-bottom: 10px;
}

/*# sourceMappingURL=Picker.vue.map */
.slider {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 20px;
}
.slider__input {
    margin-bottom: 0;
    padding: 0.6em;
    max-width: 70px;
    width: 20%;
    border: 2px solid #000;
    border-radius: 0;
    text-align: center;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.slider__input::-webkit-inner-spin-button, .slider__input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}
.slider__input:focus {
      outline: none;
      border-color: #1a3aff;
}
.slider__track {
    position: relative;
    flex: 1;
    margin: 0.2em;
    width: auto;
    height: 0.2em;
    background: #fff;
    will-change: transfom;
    background-image: linear-gradient(45deg, #cccccc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #cccccc 75%), linear-gradient(-45deg, #cccccc 25%, transparent 25%), linear-gradient(-45deg, transparent 75%, #cccccc 75%);
    background-size: 6px 6px;
    background-position: 0 0, 3px -3px, 0 3px, -3px 0px;
}
.slider__handle {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    color: #000;
    margin: -0.1em 0 0 -0.2em;
    width: 0.4em;
    height: 0.4em;
    background-color: currentColor;
    box-shadow: 1px 2px 8px -2px rgba(0, 0, 0, 0.5);
}
.slider__label {
    position: absolute;
    top: -3em;
    left: 0.4em;
    z-index: 999;
    visibility: hidden;
    padding: 6px;
    min-width: 3em;
    border-radius: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 1em;
    opacity: 0;
    transform: translate(-50%, 0);
    white-space: nowrap;
}
.slider__label:before {
      position: absolute;
      bottom: -0.6em;
      left: 50%;
      display: block;
      width: 0;
      height: 0;
      border-width: 0.6em 0.6em 0 0.6em;
      border-style: solid;
      border-color: #000 transparent transparent transparent;
      content: '';
      transform: translate3d(-50%, 0, 0);
}
.slider__fill {
    width: 100%;
    height: 100%;
    transform-origin: left top;
}
.slider:hover .slider-label, .slider--dragging .slider-label {
    visibility: visible;
    opacity: 1;
}




.form-group{
    &.hasError{
        input,select,textarea{
            border:solid 1px darkred;
        }
    }
}

