#navRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  overflow: hidden;
  flex-direction: column-reverse;
}

#navLinks {
  overflow: hidden;
}

.ad-breadcrumb {
  list-style: none;
  display: inline-flex;
  flex-wrap: nowrap;
  padding-left: 0;
  flex-grow: 2;
  margin-bottom: 2px;
  font-size: 19px;

  li {
    float: left;
    margin-right: 5px;

    &:after {
      content: ' / ';
    }

    &:last-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:after {
        content: '';
      }
    }
  }
}

#menuLinks {
  font-size: 16px;
  padding-bottom: 2px;
  display: flex;
  justify-content: center;

  #menuList {

    list-style: none;
    padding-left: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: auto;

    li {
      margin-right: 15px;

      a {
        padding: 2px;
        color: hsl(203, 85%, 23%);
        font-weight:500;
        &:hover,
        &:focus,
        &:visited {
          text-decoration: underline;
          color:hsl(203, 85%, 35%);

        }

        &.selected {
          color:black;
          font-weight:600;
          &:hover,
        &:focus,
        &:visited{
            text-decoration: none;
            cursor:default;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 600px) {
    #menuLinks {   

        display: flex;
        justify-content: start;

            #menuList {
              li {
                a {
                  font-size:19px;
                }
            }
        }
}
}
@media only screen and (min-width: 1000px) {
  #menuLinks {
    display: flex;
    justify-content: start;
  }
  #navRow {
    font-size: 19px;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1250px) {
  #navRow {
    display: flex;
    justify-content: space-between;
    margin-bottom:30px;

    #menuLinks {
      a {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}