.ad-breadcrumb {
    list-style: none;
    display: inline-flex;
    flex-wrap: nowrap;

    padding-left: 0;
    flex-grow: 2;
    margin-bottom: 2px;
    li {
        float: left;
        margin-right: 5px;
        &:after {
            content: ' / ';
        }
        &:last-child {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:after {
                content: '';
            }
        }
    }
}

.info {
    
    background: white;

    margin-bottom: 10px;
  //   width:100vw;
 // position:relative;
 // left:calc(-1 * (100vw - 100%)/2);

}

#menuLinksOne,
#menuLinksTwo {
    border-bottom: 3px solid #fca82f;
    padding-bottom: 2px;
    a {
        padding: 2px;
        color: black;
        &:hover,
        &:focus,
        &:visited {
            text-decoration: none;
            border-bottom: solid 6px #60d844;
        }
        &.selected {
            border-bottom: solid 4px #4587de;
        }
    }
}

#menuLinksOne {
    display: none;
}



.contact {
    margin-bottom:10px;
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    #emailContact{
        display:none;
    }
    #telContact{
        display: none;
    }
}

#navRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

@media only screen and (min-width: 430px) {

    #menuLinksTwo {
        display: block;

    }
    #menuLinksOne {
        display: none;
    }

}

@media only screen and (min-width: 650px) {
    .contact {
        justify-content: space-around;
        font-size: 16px;
        #emailContact{
        display:initial;
    }
    #telContact{
        display: initial;
    }
    }
    .info {
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (min-width: 800px) {
 .info {
       
        .contact {
            font-size:19px;
     }
     #navRow {
            font-size: 19px;
        }
    }
    
    
}
@media only screen and (min-width: 1250px) {
    .info {
   
        border-bottom: 1px solid lightgrey;
        display: flex;
        flex-direction: row-reverse;
        .contact {
            width: auto;
            padding-top: 2px;
            z-index: 2;
          
            span {
                margin-right: 15px;
            }
        }
        #navRow {
            width: auto;
       
        }
        justify-content: space-between;
    }
    #menuLinksTwo {
        a {
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}


